/* adds logo to nav bar */
.navbar {
    position: relative;
    margin-bottom: 0;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
	display: block;
	z-index: 20;
}
/* main page */
.main_page_container {
	position: relative;
	text-align: center;
	color: white;
}
/* centers picture */
.main_page_img
{
	width: 100%;
	z-index: 10;
}
/* centered text */
.centered1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Permanent Marker', cursive;
}