 /* adds logo to nav bar */
.navbar {
    position: relative;
    margin-bottom: 0;
}
/* hover animation on navbar */
nav a:hover {
  margin-top: 2px;
  margin-bottom: 2px;
}
/* forced fixing of nav bar */
.navbar-fixed-top {
    position:fixed !important;
}
/* nav bar color */
.navbar-main {
	background: rgb(110,171,222);
}
/* nav bar text color */
.navbar-main .navbar-nav>li>a {
	color: white;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 0.05em;
	font-family: 'Raleway', sans-serif;
}
/* hover color */
.navbar-d .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgb(110,171,222);
    color: rgb(155,211,241);
}
/* logo on navbar */
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
	display: block;
	z-index: 20;
}
/* main page */
.main_page_container {
	position: relative;
	text-align: center;
	color: white;
}
/* centers picture */
.main_page_img
{
	width: 100%;
	z-index: 10;
}
/* centered text main page */
.centered1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Permanent Marker', cursive;
}
/* centered text tiles */
.centered2 {
	position: absolute;
	top: 91%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.22em;
	color: white;
	white-space: nowrap;
}
/* bottom text */
.bottom_text {
	padding-top: 3%;
	padding-left: 1%;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.16em;
	color: rgb(155,211,241);
}
/* container for main page tiles */
.main_page_grid {
	padding-top: 30px;
	padding-bottom: 30px;
}
/* creates hover effect over tiles */
.thumbnail:hover {
	opacity: .72;
}
/* zoom effect over main tiles */
.zoom {
  transition: transform .4s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.03);
}
/* ticket btn on main page */
.ticket_btn {
	width: 100;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
/* social btns */
.btn-xl {
    padding: 10px 10px;
    font-size: 60px;
    border-radius: 10px;
}