 /* main page */
.main_page_container {
	position: relative;
	text-align: center;
	color: white;
}
/* centers picture */
.main_page_img
{
	margin-top: 200;
	padding-top: 200;
	width: 100%;
	z-index: 10;
}
/* centered text main page */
.centered1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Raleway', sans-serif;
}
/* centered text main page */
.centered3 {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 2200;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
/* centered text tiles */
.centered2 {
/*	background: rgb(110,171,222);
	border-radius: 25px;*/
	position: absolute;
	top: 91%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 3200;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.22em;
	color: white;
	white-space: nowrap;
/*	background: lightblue;
	width: 92%;*/
}
/* bottom text */
.bottom_text {
	padding-top: 3%;
	padding-left: 1%;
	font-weight: 2700;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.16em;
	color: rgb(155,211,241);
}
/* container for main page tiles */
.main_page_grid {
	padding-top: 30px;
	padding-bottom: 30px;
}
/* creates hover effect over tiles */
.thumbnail:hover {
	opacity: .72;
}
/* zoom effect over main tiles */
.zoom {
  transition: transform .4s; /* Animation */
  margin: 0 auto;
  display: inline-block;
}
.zoom:hover {
  transform: scale(1.03);
}
/* ticket btn on main page */
.ticket_btn {
	width: 100;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
/* social btns */
.btn-xl {
    padding: 10px 10px;
    font-size: 60px;
    border-radius: 10px;
}
