/* adds logo to nav bar */
.navbar {
   position: relative;
   margin-bottom: 0;
}
/* hover animation on navbar */
nav a:hover {
 margin-top: 2px;
 margin-bottom: 2px;
}
/* forced fixing of nav bar */
.navbar-fixed-top {
   position:fixed !important;
}
/* nav bar color */
.navbar-main {
 background: rgb(110,171,222);
}
.navbar-default .navbar-toggle .icon-bar {
 background-color: white;
}
/* nav bar text color */
.navbar-main .navbar-nav>li>a {
/* font-family: 'Raleway', sans-serif; */
 color: white;
 text-transform: uppercase;
 font-weight: 400;
 letter-spacing: 0.05em;
 /* font-family: 'Raleway', sans-serif; */
}
/* hover color */
.navbar-d .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   background-color: rgb(110,171,222);
   color: rgb(155,211,241);
}
/* logo on navbar */
/* .brand {
   position: absolute;
   left: 50%;
   margin-left: -50px !important;
 display: block;
 z-index: 20;
} */
.navbar-brand img
{
  width: 140px;
}

.navbar-brand
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
/* main page */
.main_page_container {
 position: relative;
 text-align: center;
 color: white;
}
/* centers picture */
.main_page_img
{
 width: 100%;
 z-index: 10;
}
/* centered text main page */
.centered1 {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-family: 'Permanent Marker', cursive;
}
/* centered text tiles */
.centered2 {
 position: absolute;
 top: 91%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-weight: 700;
 text-transform: uppercase;
 font-family: 'Raleway', sans-serif;
 letter-spacing: 0.22em;
 color: white;
 white-space: nowrap;
}
/* bottom text */
.bottom_text {
 padding-top: 3%;
 padding-left: 1%;
 font-weight: 700;
 text-transform: uppercase;
 font-family: 'Raleway', sans-serif;
 letter-spacing: 0.16em;
 color: rgb(155,211,241);
}
/* container for main page tiles */
.main_page_grid {
 padding-top: 30px;
 padding-bottom: 30px;
}
/* creates hover effect over tiles */
.thumbnail:hover {
 opacity: .72;
}
/* zoom effect over main tiles */
.zoom {
 transition: transform .4s; /* Animation */
 margin: 0 auto;
}
.zoom:hover {
 transform: scale(1.03);
}
/* ticket btn on main page */
.ticket_btn {
 width: 100;
 font-family: 'Raleway', sans-serif;
 font-weight: 200;
 letter-spacing: 0.1em;
 text-transform: uppercase;
}
/* social btns */
.btn-xl {
   padding: 10px 10px;
   font-size: 60px;
   border-radius: 10px;
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
